<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://kit.fontawesome.com/0c13de2b67.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
    <%-style%>
</head>
<body>
    <%- include('header'); -%>
    <!-- For printing the flash messages -->
   
    
    <%-body%>


    <%- include('footer'); -%>

    <%- script %>
    <script>
    <%
        if(locals.flash.success && locals.flash.success.length > 0)

            {%>   
                new Noty({
                theme: 'relax',
                type: 'success',
                layout: 'topRight',
                text: "<%=flash.success%>",
                timeout: 1000
                }).show();

        
            <%}
    %>
    <%
        if(locals.flash.error && locals.flash.error.length > 0)
        
            {%>   
                new Noty({
                theme: 'relax',
                type: 'error',
                layout: 'topRight',
                text: "<%=flash.error%>",
                timeout: 1000
                }).show();

        
            <%}
    %>
    </script>

</body>
</html>